/* Logo styling */

/* Gradient */
.logo {
  font-size: 2rem;
  background-image: linear-gradient(to right, #57BC90, #27bfd3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  transition: font-size 0.3s ease, margin-left 0.3s ease, font-weight 0.3s ease;
  font-weight: bold;
  margin-left: 10px;
}

/* Hover - reverse gradient */
.logo:hover {
  font-size: 2.5xl;
  background-image: linear-gradient(to right, #77C9D4, #57BC90);
  cursor: pointer;
  font-weight: bold;
  margin-left: 20px;
}

/* Pop up help request form styles */

/* Help icon button */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* Hide the form by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Table styles */

/* Instruction header for small view table */
.instruction-header {
  display: none;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  color: #3C3C3C;
  background-color: #D9D9D9;
}

@media (max-width: 839px) {
  /* Table background and styling for small screens */
  table {
    display: block !important;
    width: 100%;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-bottom: 20px;
    border-collapse: collapse;
    border: none;
  }

  /* Dark mode background and text color */
  .dark table {
    background-color: #31363F;
    color: #E9E9E9;
  }

  .instruction-header {
    display: block;
  }

  /* Dark mode styles for instruction header */
  .dark .instruction-header {
    background-color: #222831;
    color: #E9E9E9;
  }

  thead {
    display: none;
  }

  tbody {
    display: block;
  }

  tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  /* Dark mode text color for table data */
  .dark td {
    display: block;
    border-bottom: none;
    font-size: 15px;
    color: #E9E9E9;
  }

  td:first-child {
    font-size: 15px;
    font-weight: bold;
    flex: 1;
  }

  /* Show only task name, column 6, and buttons in small view */
  td:not(:first-child):not(:nth-child(6)):not(:last-child) {
    display: none;
  }

  /* Display icons and toggle switch in the last cell */
  td:last-child {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  /* Dark mode styling for the last cell (optional, if needed) */
  .dark td:last-child {
    justify-content: flex-end;
    gap: 10px;
  }

  #emptyRow {
    display: inline-block;
    font-weight: normal;
  }
}

/* Styling table for larger screens */
@media (min-width: 840px) {
  #table-container {
    display: block;
    padding: 20px;
    margin: 0 auto;
    max-width: 1050px;
    width: 100%;
  }

  table {
    display: table;
    width: 100%;
    padding: 10px;
    border-collapse: collapse;
    overflow: hidden;
  }

  /* Alternate row colors for visibility */
  tbody tr:nth-child(odd) {
    background-color: #f7f7f7;
  }

  tbody tr:nth-child(even) {
    background-color: #eaeaea;
  }

  /* Alternate row colors for visibility in dark mode */
  .dark tbody tr:nth-child(odd) {
    background-color: #31363F;
  }

  .dark tbody tr:nth-child(even) {
    background-color: #222831d9;
  }

  .dark thead {
    background-color: #222831d9;
  }
  /* Dark mode styles for table */
  .dark table {
    border: none;
  }

  /* Maintain proper cell and row structure */
  thead {
    display: table-header-group;
  }

  tbody {
    display: table-row-group;
  }

  tr {
    display: table-row;
    border-bottom: none;
  }

  td {
    display: table-cell;
    border-bottom: none;
    padding: 10px;
  }
}

/* Calendar Styles*/

/* Color for current day indicator */
.current-day {
  background-color: #77C9D4;
  color: #3C3C3C;
  font-weight: bold;
}

/* Scrollbar styles */

input[type="date"]::-webkit-calendar-picker-indicator {
filter: invert(100%);
}

.event-container::-webkit-scrollbar {
width: 10px;
}

.event-container::-webkit-scrollbar-track {
background-color: transparent;
}

.event-container::-webkit-scrollbar-thumb {
background-color: #888;
border-radius: 5px;
}

#calendar-container {
  position: relative;
  max-width: 1000px;
  padding: 20px;
  box-sizing: border-box;
}

/* Calendar buttons should align with the left edge of the container */
#calendarButtons {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, minmax(30px, 1fr)); 
  gap: 10px; 
  overflow-x: auto; 
}

.date-block {
  padding: 12px;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  box-sizing: border-box;
  overflow: hidden;
  min-height: 9rem;
  min-width: 6rem;
  font-size: 0.75em;
}

.date-block:hover {
  background-color:whitesmoke;
}

.dark .date-block:hover {
  background-color: #222831;
}

.day-of-month {
  font-weight: bold;
  font-size: 0.25em;
  color: marine;
  text-align: center;
}

.event-block {
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 11px;
  padding: 4px; 
  max-width: 100%; 
}

.event-container {
  overflow-y: auto; 
  overflow-x: hidden; 
  max-height: 100px; 
  width: 100%;
  position: relative; 
  text-align: left;
  flex-grow: 1; 
}

@media (min-width: 800px) {
  #calendar {
    grid-template-columns: repeat(7, minmax(50px, 1fr)); 
    gap: 15px;
  }

  .date-block {
    min-height: 9em;
    padding: 12px; 
  }

  #calendar-container {
    padding-left: 20px; 
  }
  
  #calendarButtons {
    padding-left: 20px;
  }
}

/* Resizing for smaller screens */
@media (max-width: 800px) {
  #calendar {
    grid-template-columns: repeat(7, minmax(30px, 1fr)); 
    gap: 8px; 
  }

  #calendar-container {
    padding-left: 20px;
  }
  
  #calendarButtons {
    padding-left: 20px;
  }

  .event-block {
    font-size: 10px;
    max-width: 90%;
  }

  .calendar-header {
    font-size: 10px;
  }

  .event-container {
    max-height: 40px;
    overflow-y: auto;
  }

  .date-block {
    padding: 6px;
    min-height: 3rem;
    min-width: 3rem; 
  }

  .day-of-month {
    font-weight: bold;
    font-size: 0.5em;
    color: marine;
  }
    
  .day-of-week {
  font-size: 0.5em;
  color: grey;
  }

  .event-container::-webkit-scrollbar {
    display: none;
  }
}

/* Chat pop up styles*/

.chat-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; /* Start hidden */
  background-color: white; /* Ensure it's visible */
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000; /* Ensure it's above other elements */
}

/* invert colors to simulate dark mode on the google form */
.dark .chat-popup {
  filter: invert(100%) hue-rotate(180deg);
}

/* Make form smaller for small screens */
@media (max-width: 800px) {
  .chat-popup {
    right: 12px;
    bottom: 12px;
    max-width: 325px;
    padding: 12px;
  }

  .chat-popup iframe {
    width: 300px;
    height: 450px;
  }
};


