/* Logo styling */

/* Gradient */
.logo {
  font-size: 2rem;
  background-image: linear-gradient(to right, #57BC90, #27bfd3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  transition: font-size 0.3s ease, margin-left 0.3s ease, font-weight 0.3s ease;
  font-weight: bold;
  margin-left: 10px;
}

/* Hover - reverse gradient */
.logo:hover {
  font-size: 2.5xl;
  background-image: linear-gradient(to right, #77C9D4, #57BC90);
  cursor: pointer;
  font-weight: bold;
  margin-left: 20px;
}

/* Pop up help request form styles */

/* Help icon button */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* Hide the form by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Change table view for small screens - stacked view */
@media (max-width: 939px) {
  table {
      display: block !important;
      width: 100%;
      padding-bottom: 5px; 
      padding-left: 5px; 
      margin-bottom: 20px;
      border-collapse: collapse;
      border: none; 
  }

  thead {
    display: none;
  }

  tbody {
      display: block;
  }

  tr {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
  }

  td {
      display: block;
      border-bottom: none;
      font-size: 15px;
  }

  td:first-child {
      font-size: 18px;
      font-weight: bold;
      flex: 1;
  }

  /* Show only task name and buttons in small view */
  td:not(:first-child):not(:last-child) {
      display: none;
  }

  .buttons-container {
      display: flex;
      align-items: center;
      padding: 5px;
      font-size: 1.5rem;
  }
}

/* Styling table for larger screens */
@media (min-width: 940px) {
  table {
      display: table !important;
      width: auto;
      padding-left: 0; 
      padding-bottom: 0;
  }

  /* Styling even and odd rows in alternating colors */
  tbody tr:nth-child(odd) {
      background-color: #f7f7f7;
  }

  tbody tr:nth-child(even) {
      background-color: #eaeaea;
  }

  /* Rounding corners on table */
  table {
      border-collapse: collapse;
      border-radius: 10px;
      overflow: hidden;
  }

  tbody tr:last-child td {
      padding-bottom: 10px;
  }

  thead {
      display: table-header-group;
  }

  tbody {
      display: table-row-group;
  }

  tr {
      display: table-row;
      border-bottom: none;
  }

  td {
      display: table-cell;
      border-bottom: none;
  }
}

/* Calendar Styles*/

/* Color for current day indicator */
.current-day {
  background-color: #77C9D4;
  color: #3C3C3C;
  font-weight: bold;
}

/* Scrollbar styles */

input[type="date"]::-webkit-calendar-picker-indicator {
filter: invert(100%);
}

.event-container::-webkit-scrollbar {
width: 10px;
}

.event-container::-webkit-scrollbar-track {
background-color: transparent;
}

.event-container::-webkit-scrollbar-thumb {
background-color: #888;
border-radius: 5px;
}

#calendar-container {
  position: relative;
  width: calc(100% - 40px);
  max-width: 1000px;
  padding: 0 20px;
  box-sizing: border-box;
}

#calendar-buttons button {
  margin-right: 10px;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, minmax(30px, 1fr)); 
  gap: 10px; 
  overflow-x: auto; 
}

.date-block {
  padding: 12px;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  box-sizing: border-box;
  overflow: hidden;
  min-height: 9rem;
  min-width: 6rem;
  font-size: 0.75em;
}

.date-block:hover {
  background-color:whitesmoke;
}

.day-of-month {
  font-weight: bold;
  font-size: 0.25em;
  color: marine;
  text-align: center;
}

.event-block {
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 10px;
  padding: 4px; 
  max-width: 100%; 
}

.event-container {
  overflow-y: auto; 
  overflow-x: hidden; 
  max-height: 100px; 
  width: 100%;
  position: relative; 
  text-align: left;
  flex-grow: 1; 
}

@media (min-width: 800px) {
  #calendar {
    grid-template-columns: repeat(7, minmax(50px, 1fr)); 
    gap: 15px;
  }

  .date-block {
    min-height: 9em;
    padding: 12px; 
  }
}

/* Resizing for smaller screens */
@media (max-width: 800px) {
  #calendar {
    grid-template-columns: repeat(7, minmax(30px, 1fr)); 
    gap: 8px; 
  }

  #currentMonth {
    font-size: 20px;
  }

  .event-block {
    font-size: 10px;
    max-width: 90%;
  }
  .calendar-header {
    font-size: 10px;
  }

  .event-container {
    max-height: 40px;
    overflow-y: auto;
  }

  .date-block {
    padding: 6px;
    min-height: 3rem;
    min-width: 3rem; 
  }

  .day-of-month {
    font-weight: bold;
    font-size: 0.5em;
    color: marine;
  }
    
  .day-of-week {
  font-size: 0.5em;
  color: grey;
  }

  .event-container::-webkit-scrollbar {
    display: none;
  }
}


