/* Logo Styles */
.logo {
    font-size: 1.75rem;
    background-image: linear-gradient(to right, #57BC90, #77C9D4);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    transition: font-size 0.3s ease, margin-left 0.3s ease, font-weight 0.3s ease;
    font-weight: bold;
    margin-left: 10px;
}

/* Hover effect for logo */
.logo:hover {
    font-size: 2.5xl;
    background-image: linear-gradient(to right, #77C9D4, #57BC90);
    cursor: pointer;
    font-weight: bold;
    margin-left: 20px;
}

/* style for date block in calendar */
.date-block {
    min-height: 6rem;
    min-width: 6rem;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 1.5;
    border-radius: 0.25rem;
}
/* style for task block in calendar */
.event-block {
    margin: 2px;
    max-width: calc(100% - 4px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}

.event-container {
    max-height: 60px; 
    overflow-y: auto; 
}

table {
    border-collapse: collapse;
    border: none;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width textarea */
  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }
  
  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/send button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  .current-day {
    background-color: #77C9D4;
    color: #3C3C3C;
    font-weight: bold;
}