/* CSS styles in addition to Tailwind CSS */

/* Logo Styling - Gradient */
.logo {
  font-size: 2rem;
  background-image: linear-gradient(to right, #57BC90, #27bfd3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  transition: font-size 0.3s ease, margin-left 0.3s ease, font-weight 0.3s ease;
  font-weight: bold;
  margin-left: 10px;
}

/* Logo Styling - Gradient Hover */
.logo:hover {
  font-size: 2.5xl;
  background-image: linear-gradient(to right, #77C9D4, #57BC90);
  cursor: pointer;
  font-weight: bold;
  margin-left: 20px;
}

/* Style for date block in calendar */
.date-block {
  min-height: 6rem;
  min-width: 6rem;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 1.5;
  border-radius: 0.25rem;
}
/* Style for task block in calendar */
.event-block {
  margin: 2px;
  max-width: calc(100% - 4px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
}

.event-container {
  max-height: 60px; 
  overflow-y: auto; 
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the chat form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width chat form textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.current-day {
  background-color: #77C9D4;
  color: #3C3C3C;
  font-weight: bold;
}

/* Set background of scrollbar in calendar to transparent */

input[type="date"]::-webkit-calendar-picker-indicator {
filter: invert(100%);
}

.event-container::-webkit-scrollbar {
width: 10px; /
}

.event-container::-webkit-scrollbar-track {
background-color: transparent;
}

.event-container::-webkit-scrollbar-thumb {
background-color: #888;
border-radius: 5px; /
}

/* Hide Table headers in small view by default */
thead {
  display: none;
}

/* Stack rows vertically on smaller screens */
@media (max-width: 939px) {
  table {
      display: block !important;
      width: 100%;
      padding-bottom: 5px; 
      padding-left: 5px; 
      margin-bottom: 20px;
      border-collapse: collapse;
      border: none; 
  }

  tbody {
      display: block;
  }

  tr {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
  }

  td {
      display: block;
      border-bottom: none;
      font-size: 15px;
  }

  /* Make the task name larger and bold */
  td:first-child {
      font-size: 18px;
      font-weight: bold;
      flex: 1;
  }

  /* Hide all table headers */
  th {
      display: none;
  }

  /* Hide all cells except the first (taskName) and the last (buttons) */
  td:not(:first-child):not(:last-child) {
      display: none;
  }

  /* Style for the buttons container */
  .buttons-container {
      display: flex;
      align-items: center;
  }

  /* Adjust padding for better spacing */
  .buttons-container > * {
      padding: 5px;
  }

  /* Adjust icon size */
  .buttons-container i {
      font-size: 1.5rem;
  }
}

/* table layout on larger screens */
@media (min-width: 940px) {
  table {
      display: table !important;
      width: auto;
      padding-left: 0; 
      padding-bottom: 0;
  }

  /* Apply styles to odd rows */
  tbody tr:nth-child(odd) {
      background-color: #f7f7f7;
  }

  /* Apply styles to even rows */
  tbody tr:nth-child(even) {
      background-color: #eaeaea;
  }

  /* Add rounded corners to the table */
  table {
      border-collapse: collapse;
      border-radius: 10px;
      overflow: hidden;
  }

  /* Add padding to the last row to preserve bottom rounded corners */
  tbody tr:last-child td {
      padding-bottom: 10px;
  }

  thead {
      display: table-header-group;
  }

  tbody {
      display: table-row-group;
  }

  tr {
      display: table-row;
      border-bottom: none; 
  }

  td {
      display: table-cell;
      border-bottom: none;
  }
}

/* Ensure calendar container resizes as a whole on smaller screens */
#calendar-container {
  position: relative;
  width: calc(100% - 40px);
  max-width: 1000px;
  padding: 0 20px;
  box-sizing: border-box;
}

#calendar-buttons button {
  margin-right: 10px;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, minmax(30px, 1fr)); 
  gap: 10px; 
  overflow-x: auto; 
}

.date-block {
  padding: 6px;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 10rem;
  min-width: 6rem; 
}

.day-of-month {
font-weight: bold;
font-size: 0.85em;
color: marine;
}

.day-of-week {
font-size: 0.75em;
color: grey;
}

.event-block {
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 10px;
  padding: 4px; 
  max-width: 100%; 
}

.event-container {
  overflow-y: auto; 
  overflow-x: hidden; 
  max-height: 100px; 
  width: 100%;
  position: relative; 
  text-align: left;
  flex-grow: 1; 
}

@media (min-width: 800px) {
  #calendar {
    grid-template-columns: repeat(7, minmax(50px, 1fr)); 
    gap: 15px;
  }

  .date-block {
    min-height: 5rem;
    padding: 12px; 
  }
}

/* Media query for smaller screens - flexibility */
@media (max-width: 800px) {
  #calendar {
    grid-template-columns: repeat(7, minmax(30px, 1fr)); 
    gap: 8px; 
  }

  .event-block {
    font-size: 10px;
    max-width: 90%;
  }

  .event-container {
    max-height: 40px;
    overflow-y: auto;
  }

  .date-block {
    padding: 6px;
    min-height: 3rem;
    min-width: 3rem; 
  }

  .day-of-month {
    font-weight: bold;
    font-size: 0.5em;
    color: marine;
    }
    
    .day-of-week {
    font-size: 0.5em;
    color: grey;
    }
}


